<%# -*- coding: utf-8 -*- %>
<% @string.force_encoding("utf-8")  %>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/stylesheets/style.css" />
    <title>蔵書管理</title>
  </head>
  <body>
    <main class="l-main">
      <h1>蔵書管理</h1>
      <h2>蔵書データの登録</h2>
      <p>下記の蔵書データを登録しました|
      <a href="list.erb">蔵書データの表示</a>|
      <a href="index.html">メニュー画面に戻る</a>
      </p>
      <hr />
      <table>
        <%# テーブルの項目名を取り出して表の項目行を表示する %>
        <tr>
          <th>項目名</th>
          <th>入力データ</th>
        </tr>

        <% ['id', 'title', 'author', 'page', 'publish_date'].each do |name| %>
          <tr>
            <td><%= name %></td>
            <td><%= req.query[name] %></td>
          </tr>
        <% end %>
      </table>
      <hr />
    </main>
  </body>
</html>
